<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home</title>
  </head>
  <body>
    <article>
      <ul>
        <li><a href="/altair">Altair</a></li>
        <li><a href="/bokeh">Bokeh</a></li>
        <li><a href="/ggplot2">ggplot2</a></li>
        <li><a href="/data-table">Data table</a></li>
      </ul>
    </article>
  </body>
</html>
