{% macro cal_heatmap(id, data, tooltip=True) %}
<div class="cal-heatmap-container">
  <div class="cal-heatmap-yaxislabels">
    <div class="graph-label">Mon</div>
    <div class="graph-label">Wed</div>
    <div class="graph-label">Fri</div>
    <div class="graph-label">Sun</div>
  </div>
  <div id="{{ id }}" class="cal-heatmap"></div>
</div>
<style>
  .cal-heatmap-container {
    position: relative;
    display: flex;
  }

  .cal-heatmap-yaxislabels,
  .cal-heatmap {
    position: relative;
    flex: 0 0 auto;
  }

  .cal-heatmap-yaxislabels .graph-label {
    display: block;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75em;
    color: #666;
    text-align: right;
    margin-right: 10px;
  }

  .cal-heatmap-yaxislabels .graph-label:not(:first-child) {
    margin-top: 14px;
  }

  .cal-heatmap-container .graph {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  .cal-heatmap-container .graph-label {
    font-size: 0.75em;
    fill: #666;
  }

  .cal-heatmap-container .subdomain-text {
    font-size: 0.75em;
  }

  .ch-tooltip {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75em;
    padding: 0.5em 0.75em;
    width: auto;
  }
</style>
<script>
  (function () {
    new CalHeatMap().init({
      itemSelector: '#{{ id }}',
      data: {{ data|safe }},
      dataType: 'json',
      cellPadding: 2,
      cellSize: 12,
      // range: 1,
      minDate: new Date(2018, 1),
      maxDate: new Date(2018, 8),
      domain: 'month',
      subDomain: 'day',
      weekStartOnMonday: true,
      domainDynamicDimension: false,
      domainLabelFormat: '%b',
      subDomainDateFormat: '%-d %b %Y',
      tooltip: {% if tooltip %}true{% else %}false{% endif %}
    });
  })();
</script>
{% endmacro %}

{% macro vega_heatmap(id, data) %}
<div id="{{ id }}"></div>
<script>
  (function () {
    vegaEmbed(
      '#{{ id }}',
      {
        '$schema': 'https://vega.github.io/schema/vega-lite/v2.json',
        'data': {
          'values': [
            {'month': 0, 'day': 0, 'value': 5},
            {'month': 0, 'day': 1, 'value': 0},
            {'month': 0, 'day': 2, 'value': 2},
            {'month': 0, 'day': 3, 'value': 0},
            {'month': 0, 'day': 4, 'value': 0},
            {'month': 0, 'day': 5, 'value': 0},
            {'month': 0, 'day': 6, 'value': 0}
          ]
        },
        'mark': 'rect',
        'encoding': {
          'x': {'field': 'month', 'type': 'n'},
          'y': {'field': 'day', 'type': 'n'},
          'color': {'field': 'value', 'type': 'q'}
        }
      },
      {
        actions: {
          export: false,
          source: true,
          compiled: false,
          editor: false
        }
      }
    );
  })();
</script>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>cal-heatmap</title>
    <link rel="stylesheet" href="/node_modules/cal-heatmap/cal-heatmap.css" />
    <script src="/node_modules/d3/d3.min.js"></script>
    <script src="/node_modules/cal-heatmap/cal-heatmap.min.js"></script>
    <script src="/node_modules/vega/build/vega.min.js"></script>
    <script src="/node_modules/vega-lite/build/vega-lite.min.js"></script>
    <script src="/node_modules/vega-embed/build/vega-embed.min.js"></script>
  </head>
  <body>
    <article>
      {% for plot in plots %}
        <h2>{{ plot.title }}</h2>
        {# {{ cal_heatmap(plot.id, plot.data) }} #}
        {# {{ vega_heatmap(plot.id, plot.data) }} #}

        <div id="{{ plot.id }}"></div>
        <script>
          (function() {
            var spec = {{ plot.spec|safe }};
            vegaEmbed(
              '#{{ plot.id }}',
              spec,
              {
                actions: {
                  export: false,
                  source: true,
                  compiled: false,
                  editor: false
                }
              }
            );
          })();
        </script>
      {% endfor %}
    </article>
  </body>
</html>
