<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>bokeh</title>
    <link rel="stylesheet" href="/node_modules/bokehjs/build/css/bokeh.min.css" />
    <script src="/node_modules/bokehjs/build/js/bokeh.min.js"></script>
  </head>
  <body>
    <article>
      {% for item in plots %}
        <h2>{{ item.title }}</h2>
        {{ item.div|safe }}
        <script src="{{ item.script_url }}"></script>
      {% endfor %}
    </article>
  </body>
</html>
